.m-jumbotron{
    width: 100vw;
    min-height: 90vh;
    background: $bg-gradient;
    padding: 10rem 15rem;
    margin-top: 10vh;

    
    &__cta{
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }
    &__text{
        color: $primary-font-color;
        font-family: $primary-font-medium;
        font-size: 1.4rem;
        margin-bottom: 1.4rem;

    }

    &__image{        
        img{
            width: 80%;
        }
    }
}
