/*
-----------------------------------------
Global Overwrite
-----------------------------------------
*/

* {
	border: 0;
	outline: none !important;
}

body{
	font-family: $primary-font-regular;
	font-size: 16px;
	color: $primary-font-color;
}

b, strong{
	font-family: $primary-font-bold;
	font-size: 18px;
	line-height: inherit;
	font-weight: normal;
	color: inherit;
}

i{
	font-style: normal;
}

label{
	font-weight: normal;
	margin: 0;
}

ol, ul{
	list-style: none;
	padding:0;
	margin:0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #2c3e50;
	background-image: none;
}

img { 
	user-drag: none;
	-moz-user-drag: none; 
	-webkit-user-drag: none; 
	-o-user-drag: none; 
	-khtml-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    image-rendering: -webkit-optimize-contrast;
}


/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}