.accelerate{
        width: 100vw;
        min-height: 53vh;
        background-color: $bg-primary-color;
        padding: 0 10rem;

        @include respond-to(mx-ms){
                padding: 0 1rem;

        }

        &__left{
                padding: 5rem 0 0 10rem;
                
                &-list{
                        float: right;
                        font-size: 1.6rem;
                        color: $black;
                        margin-bottom: 5rem;

                        i.ico-tick{
                                color: $color-seconday;
                        }
                }

                &-text {
                        clear: both;
                        font-size: 1.4rem;
                        color: $primary-font-color;
                }

                
                @include respond-to(mx-xs){
                        padding: 0 1rem;

                }
        }
        
}