.contact{
    min-height: 100vh; 
    position: relative;
    margin-bottom: 10rem;
    padding: 10rem;

    
    &__form{

        background: $bg-gradient;
        display: inline-block;
        padding: 3rem 5rem;
        width: 40%;
        margin-left: 15%;
        box-shadow: 7px 0px 16px -8px rgba(0,0,0,0.75);



        @include respond-to(mx-ms){
            width: 100vw;
            margin-left: 0;
        }

        &-title{
            color: $white;
            font-size: 3rem;
        }

        &-subtile{
            color: $primary-font-color;
            font-size: 1.4rem;
        }

    }

    &__img{
        position: absolute;
        top: 25%;
        left: 45%;
        z-index: -1;
    }
}