.footer{
    position: relative;
    left: 0;  
    bottom: 0;
    min-height: 15vh;
    width: 100vw;
    background-color: $color-primary;
    color: $white;
    font-size: $default-font-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    @include respond-to(mx-xs){
        flex-direction: column; 
        }


    
    &__rights{
        display: inline;
    }

    &__number{
        display: inline;
    }
    &__email{
        display: inline;
    }

    &__address{
        display: inline-flex;
        flex-direction: column;

        @include respond-to(mx-xs){
            flex-direction: row; 
        }
    }

    &__icons{
        display: inline-flex;
        width: 15%;
        padding-right: 2rem; 
        justify-content: space-around;

        a{
            color: $white !important;

            &:hover i {
                color: $color-seconday;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}