.reviews{
    width: 100vw;
    min-height: 70vh;
    background: $bg-gradient;
    padding: 5rem 20rem;

    @include respond-to(mx-sm){
      padding: 5rem;
    }

    @include respond-to(mx-xs){
      padding: 2rem 1rem;
    }

    &__header{
        position: relative;
        &::after{
            content: "";
            background-color: #00fff0;
            height: 4px;
            width: 100px;
            z-index: 33;
            position: absolute;
            top: 120%;
            left: calc(50% - 5rem);
        }
    }

    .rating-widget{
        .rating-stars ul {
            list-style-type:none;
            padding:0;
            margin-top: -35px !important;
            -moz-user-select:none;
            -webkit-user-select:none;
          }
          .rating-stars ul > li.star {
            display:inline-block;
            
          }
          
          /* Idle State of the stars */
          .rating-stars ul > li.star > i.ico-star {
            font-size:2.5em; /* Change the size of the stars */
            color:#ccc; /* Color on idle state */
          }
          
          /* Hover state of the stars */
          .rating-stars ul > li.star.hover > i.ico-star {
            color:$white;
          }
          
          /* Selected state of the stars */
          .rating-stars ul > li.star.selected > i.ico-star {
            color: $color-seconday;
          }
    }
}